th { 
	text-align: left; 
}

table{
	text-align: center;
	width: 95%;
	margin: auto;
}

table, th, td {
	border: 2px solid #9aa1ff;
	border-collapse: collapse;
	background-color: #ffedb2;
}

th, td {
	padding: 0.5em;
}


h1{
	text-align: center;
	border: 3px solid #9aa1ff;
	margin: auto;
	width: 75%;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: #f9c000;
	padding: 4px;
}

a{
	float: left;
	margin-top: 25px;
	font-size: 18px;
  	text-decoration: none;
	background-color: #f9c000;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border: 2px solid #9aa1ff;
	border-radius: 5px;
}
